$fontAllCite: 'Fresca', sans-serif; 
$fontSpecial: 'Source Sans Pro', sans-serif;
$font-weights: ("regular": normal, "bold": bold);
$headerBackground: url(../img/m-h-night.jpg);
$bgColor: #21232e;
$textColor: #fff;
$colorButton: #e3ac00;
$colorFooter: #3b3f50; 
$colorSection: $colorFooter;
$colorGradient: #922b54;
$colorSpan: #ff4e33;