$fontAllCite: 'Hind', sans-serif; 
$fontSpecial: 'Source Sans Pro', sans-serif;
$font-weights: ("regular": normal, "bold": bold);
$headerBackground: url(../img/m-h-day.jpg);
$bgColor: #fff;
$textColor: #2c2f3c;
$colorButton: #699900;
$colorFooter: #21232e; 
$colorSection: $colorFooter;
$colorGradient: #2d5bd7;
$colorSpan: #14a0c7;